.none-style {
    list-style-type: none;
}

.none-decoretion {
    text-decoration: none;
}

.nav-bar {
    justify-content: start;
    align-items: baseline;
    display: flex;
}

.sneak {    
    padding-right: 499px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;

    display: flex;

    color: #1F1F1F;
}

.masculino {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F
}

.line {
    padding-right: 32px;
}

.feminino {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F
}

.novidades {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F
}

.ofertas {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F
}

.colecoes {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F
}

.line-2 {
    padding-right: 145px;
}

.text {
    color: #FFFFFF;
    font-size: 95px;
    position: absolute;
}

.line-bar {
    justify-content: start;
    align-items: baseline;
    display: flex;
}

.lupa {
    border: none;
}

.line-3 {
    padding-right: 15px;
}

.pesquisa{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.line-5 {
    position: relative;
    bottom: 5px;
    background-color: #1F1F1F;
}

.carrinho{
    border: none;
}

.line-4 {
    background: #F2F2F2;
}

.sneak-ultra-light {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    position: relative;
    left: 60px;
    top: 40px;
}

.text-sneak-1 {
    width: 330px;
    position: relative;
    left: 67px;
    bottom: 5px;
}

.adicionar-ao-carrinho {
    height: 50px;
    width: 230px;
    border: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 12px;
    width: 195px;
    top: 5px;
    font-size: 17px;
}

.line-6 {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    width: 260px;
    position: relative;
    left: 65px;
    top: 65px;
    border: 1px solid;
    border-radius: 12px;
    height: 60px;
}

.button {
    position: relative;
    left: 10px;
    top: 10px;
    max-width:18px;
    background: #FFFFFF;
}

.line-7 {
    position: relative;
    top: 20px;
    left: 700px;
}

.break {
    width: 20px;
    height: 20px;
}

.text-height {
    font-family: Gilroy;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;    
}

#imagem-container {
    width: 100vw;
    height: 100vh;
    background: url("../img/corredor.jpg");
    background-size: cover;
}
.nome01 {
    background: #FFFFFF;
    border: none;
}

.email01 {
    background: #FFFFFF;
    border: none;
}

.comentarios01 {
    background: #FFFFFF;
    border: none;
}

.check01 {
    background: #FFFFFF;
}

.adjusted-style {
    list-style: none;
}

.text-adjusted {
    text-decoration: none;
    color: #1F1F1F;
}